parameters:
    version: "v0.1.0"
    build: null

php:
    date.timezone: UTC

services:

    - GtfsMerger\Command\Merge

    - GtfsMerger\Merger\Agency(@agencyNamesCache, @agencyIdsCache)
    - GtfsMerger\Merger\Routes(@agencyIdsCache, @routesNamesCache, @routesIdsCache)
    - GtfsMerger\Merger\Stops(@stopsIdsCache, @stopsNamesCache, @stopsLatLngCache)
    - GtfsMerger\Merger\Calendar(@serviceIdsCache)
    - GtfsMerger\Merger\CalendarDates(@serviceIdsCache)
    - GtfsMerger\Merger\Trips(@routesIdsCache, @serviceIdsCache, @tripsIdsCache)
    - GtfsMerger\Merger\StopTimes(@tripsIdsCache, @stopsIdsCache)

    - GtfsMerger\Cache\Cleaner(@stopsIdsCache, @serviceIdsCache, @tripsIdsCache)

    - GtfsMerger\Output\CsvStdOutPrinter
    - GtfsMerger\Output\GtfsWriter

    - Ramsey\Uuid\UuidFactory

    cacheStorage:
        class: Nette\Caching\Storages\MemoryStorage

    agencyIdsCache:
        class: Nette\Caching\Cache
        factory: GtfsMerger\Cache\Factory::create('agencyId')
    agencyNamesCache:
        class: Nette\Caching\Cache
        factory: GtfsMerger\Cache\Factory::create('agencyName')

    routesIdsCache:
        class: Nette\Caching\Cache
        factory: GtfsMerger\Cache\Factory::create('routesId')
    routesNamesCache:
        class: Nette\Caching\Cache
        factory: GtfsMerger\Cache\Factory::create('routesName')

    stopsIdsCache: Nette\Caching\Cache(@cacheStorage, 'stopsId')
    stopsNamesCache: Nette\Caching\Cache(@cacheStorage, 'stopsName')
    stopsLatLngCache: Nette\Caching\Cache(@cacheStorage, 'stopLatLng')

    serviceIdsCache: Nette\Caching\Cache(@cacheStorage, 'serviceId')

    tripsIdsCache: Nette\Caching\Cache(@cacheStorage, 'tripsId')
